---
import "../../styles/global.css";
const currentPath = Astro.url.pathname;
const { title, description, imageFix, canonical} = Astro.props;
---
<meta charset="UTF-8"/>
<title>{title || 'Full-Stack Software Developer Portfolio | Web, Cloud & AI'}</title>
<meta name="robots" content="index,follow"></meta>
<meta name="googlebot" content="index,follow" />
<meta name="viewport" content="width=device-width" />

<meta itemprop="name" content={title || 'Full-Stack Software Developer Portfolio | Web, Cloud & AI'} />
<meta itemprop="description" content={description || 'Portfolio of a full-stack developer skilled in modern frontend, backend, cloud, DevOps, AI, automation, and 3D CAD. Building scalable, high-impact solutions.'} />
<meta itemprop="image" content={imageFix || ''} />
<meta name="description" content={description || 'Portfolio of a full-stack developer skilled in modern frontend, backend, cloud, DevOps, AI, automation, and 3D CAD. Building scalable, high-impact solutions.'} />
<meta name="image" content={imageFix || ''} />

<meta property="og:title" content={title || 'Full-Stack Software Developer Portfolio | Web, Cloud & AI'} />
<meta property="og:description" content={description || 'Portfolio of a full-stack developer skilled in modern frontend, backend, cloud, DevOps, AI, automation, and 3D CAD. Building scalable, high-impact solutions.'} />
<meta name="image" property="og:image" content={imageFix || ''} />
<meta property="og:url" content={canonical || `https://cesarmc-port.github.io/portfolio`} />
<meta property="og:type" content="website" />

<meta property="twitter:title" content={ title || 'Full-Stack Software Developer Portfolio | Web, Cloud & AI'} />
<meta property="twitter:description" content={description || 'Portfolio of a full-stack developer skilled in modern frontend, backend, cloud, DevOps, AI, automation, and 3D CAD. Building scalable, high-impact solutions.'} />
<meta property="twitter:image" content={imageFix || ''} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonical || `https://cesarmc-port.github.io/portfolio`} />

<meta name="twitter:title" content={ title || 'Full-Stack Software Developer Portfolio | Web, Cloud & AI'} />
<meta name="twitter:description" content={description || ''} />
<meta name="twitter:image" content={imageFix || ''} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={canonical || `https://cesarmc-port.github.io/portfolio`} />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" />
<link rel="canonical" href={canonical || `https://cesarmc-port.github.io/portfolio`} />
<link rel="icon" href="/favicon.ico">