---
import Layout from '../components/layouts/Layout.astro';
import Landing from '../modules/index/index.astro'
---

<Layout title="Full-Stack Software Developer Portfolio | Web, Cloud & AI" description="Portfolio of a full-stack developer skilled in modern frontend, backend, cloud, DevOps, AI, automation, and 3D CAD. Building scalable, high-impact solutions.">
  <h1 class="visually-hidden">Full-Stack Software Developer Specialized in Web, Cloud, and AI-Driven Solutions</h1>
  <Landing/>
</Layout>
