---
import Home from "./containers/home.astro"
import Skill from "./containers/skill.astro"
import Project from "./containers/project.astro"
import About from "./containers/about.astro"
---

<div class="min-h-[calc(100vh-4rem)] md:border-r md:border-l border-gray-800">
    <Home/>
    <Skill/>
    <Project/>
    <About/>
</div>
